__pycache__/
*.pyc
test/sim_build/
test/results.xml
test/*.fst
test/*.vcd
*.hex
*.lst
synth/*.log
synth/run*.ys
.pytest_cache/
formal/fifo_*/
formal/pins/
formal/core*/
formal/*.out
.venv/
test/make.log
.DS_Store
formal/fifo/
